<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
  -- getdeveloperspage.html - Ausgabe der Developer über das Model Objekt:
  <!-- CSS class für das Styling über Bootstrap-->
  <table class="table table-striped table-bordered">
       <tr th:each="meinEntwickler: ${modeldevelopers}">
            <td th:text="${meinEntwickler.id}">Test</td>
            <td th:text="${meinEntwickler.name}">Test</td>
        </tr>
    </table>
</body>
</html>